@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

table{
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
	margin: 1em auto;
	text-align: center;
}

td{
	padding: .5em;
	text-align: center;
}

tfoot td{
	border-top: 1px solid;
}

#chapter-1-1 blockquote,
#chapter-2-12 blockquote,
#chapter-2-13 blockquote{
	font-style: italic;
}

#chapter-2-18 table tr:last-child,
#chapter-2-19 table tr:last-child,
tr[xml|lang]{
	font-style: italic;
}

#chapter-2-19 table td{
	padding: 0;
}
